<app-navbar></app-navbar>
<div class="col-12">
  <div class="row mt-3">
    <div class="col-12" *ngIf="nogame;else game">
      <h6>No games availble. Please wait for a game to be started.</h6>
    </div>
    <ng-template #game>
      <div class="col-12">
        <div class="card text-center">
          <div class="card-header">
            <h6>Todays Game</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 d-flex justify-content-center"><strong>Course</strong>: {{course}}</div>
              <div class="col-12 d-flex justify-content-center"><strong>Team</strong>: {{player.team}}</div>
              <div class="col-12">
                <hr>
              </div>
            </div>
            <div class="row" *ngIf="!playerReady; else ready">
              <div class="col-12 mt-2 d-flex justify-content-center">
                <input type="number" class="form-control" placeholder="Handicap" style="width:150px;" [(ngModel)]="handicap" name="handicap">
              </div>
              <div class="col-12 mt-2 d-flex justify-content-center">
                <input type="number" class="form-control" placeholder="Frontside Bet" style="width:150px;" [(ngModel)]="frontSideBet" name="frontSideBet">
              </div>
              <div class="col-12 mt-2 d-flex justify-content-center">
                <input type="number" class="form-control" placeholder="Backside Bet" style="width:150px;" [(ngModel)]="frontSideBet" name="frontSideBet">
              </div>
              <div class="col-12 mt-2 d-flex justify-content-center">
                <h6>Overall Bet: {{(frontSideBet + frontSideBet)|currency:'USD'}}</h6>
              </div>
              <div class="col-12 mt-2 d-flex justify-content-center">
                <button class="btn btn-primary" style="width:150px;" (click)="submitBets()">Submit</button>
              </div>
              <div class="col-12 mt-3 d-flex justify-content-center">
                <h6>{{err}}</h6>
              </div>
            </div>
            <ng-template #ready>
              <div class="row">
                <div class="col-12 mt-2 d-flex justify-content-center">
                  <strong>Handicap</strong>: {{player.handicap}}
                </div>
                <div class="col-12 mt-2 d-flex justify-content-center">
                  <strong>Frontside Bet</strong>: {{player.frontSideBet|currency:'USD'}}
                </div>
                <div class="col-12 mt-2 d-flex justify-content-center">
                  <strong>Backside Bet</strong>: {{player.frontSideBet|currency:'USD'}}
                </div>
                <div class="col-12 mt-2 d-flex justify-content-center">
                  <strong>Overall Bet</strong>: {{(player.frontSideBet + player.frontSideBet)|currency:'USD'}}
                </div>
                <div class="col-12 mt-2 d-flex justify-content-center" *ngIf="!playerReady">
                  <button class="btn btn-primary" style="width:150px;" (click)="submitBets()">Submit</button>
                </div>
              </div>
              <app-scores></app-scores>
            </ng-template>

          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>