<app-navbar></app-navbar>
<div class="container-fluid">

  <div class="row mt-2" *ngIf="joinGameFlag;else join_game">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-header">
          <h5>Todays Game</h5>
        </div>
        <div class="card-body">
          <div class="row text-start">
            <div class="col-12">
              <h6>Course: {{game.course}}</h6>
            </div>
            <div class="col-12 text-start">
              <h6>Number of Teams: {{game.teams}}</h6>
            </div>
            <div class="col-12" *ngIf="player.joined">
              <app-bets></app-bets>
            </div>
            <!-- <div class="col-12 text-start">
              <h6>{{game.date}}</h6>
            </div> -->
            <div class="col-12 mt-3" *ngIf="!player.joined;else leave">
              <button class="btn btn-primary" style="width:70%" (click)="joinGame()">Join Game</button>
            </div>
            <ng-template #leave>
              <div class="col-12 mt-3">
                <button class="btn btn-danger" style="width:70%" (click)="leaveGame()">Leave Game</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #join_game>
    <div class="row mt-2">
      <h6>no games to join</h6>
    </div>

  </ng-template>
</div>