<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row mt-3" *ngIf="!sessionFlag;else game_data">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-header">
          <h5>Start New Game</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <select class="form-control" name="course" [(ngModel)]="course">
                <option [value]="course.id" *ngFor="let course of courses">{{course.name}}</option>
              </select>
            </div>
            <div class="col-12 mt-3">
              <input type="number" placeholder="Number of teams" name="teams" class="form-control" [(ngModel)]="teams">
            </div>
            <div class="col-12 mt-3">
              <button class="btn btn-primary" style="width:100%" (click)="createGame()">Create Game</button>
            </div>
            <div class="col-12 mt-4" *ngIf="createGameErr">
              <h6>Please make sure you've selected a course & entered the number of teams.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #game_data>
    <div class="row mt-2" *ngIf="sessionFlag">
      <div class="col-12">
        <div class="card text-center">
          <div class="card-header">
            <h5>Todays Game</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h6>Course: {{course}}</h6>
              </div>
              <div class="col-12">
                <h6>Number of teams: {{teams}}</h6>
              </div>
              <div class="col-12 mt-2" *ngFor="let team of captainTeam">
                <div class="row">
                  <div class="col-5 d-flex justify-content-end">
                    Team Name:
                  </div>
                  <div class="col-7 d-flex justify-content-start">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="name" [(ngModel)]="team.name">
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-5 d-flex justify-content-end">
                    Captain:
                  </div>
                  <div class="col-7 d-flex justify-content-start">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="captain" [(ngModel)]="team.captain">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3 mb-3">
                <button class="btn btn-success" style="width:75%" (click)="calculateScores()">Calculate Scores</button>
              </div>
              <div class="col-12 mt-3 mb-3">
                <button class="btn btn-primary" style="width:75%" (click)="closeGame()">End Game</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mt-5">

        <div class="card text-center">
          <div class="card-header">
            <h5>Delete Todays Game</h5>
          </div>
          <div class="card-body">
            <div class="row">

              <div class="col-12 mt-3 mb-3">
                <button class="btn btn-danger" style="width:75%" (click)="deleteGame()">Delete Game</button> </div>
            </div>
          </div>
        </div>



      </div>

    </div>
  </ng-template>
</div>